.alert {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
  text-align: center;
  border: 1px solid;
  padding: 0.5em;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.error {
  color: red;
  border-color: red;
  background-color: rgba(255, 0, 0, 0.2);
}

.success {
  color: green;
  border-color: green;
  background-color: rgba(0, 255, 0, 0.2);
}
